In [1]:
import warnings
warnings.filterwarnings('ignore')

#importing the libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('50_Startups - 50_Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [5]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [6]:
df_lr = df[['R&D Spend', 'Administration', 'Marketing Spend','Profit']]

In [7]:
df_lr.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [8]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df_lr, test_size=0.3, random_state=100)

In [9]:
df_train.head()

    R&D Spend  Administration  Marketing Spend     Profit
25   64664.71       139553.16        137962.62  107404.34
26   75328.87       144135.98        134050.07  105733.54
35   46014.02        85047.44        205517.64   96479.51
17   94657.16       145077.58        282574.31  125370.37
7   130298.13       145530.06        323876.68  155752.60

In [10]:
df_train.shape

(35, 4)

In [11]:
df_test.shape

(15, 4)

In [12]:
df_test.head()

    R&D Spend  Administration  Marketing Spend     Profit
6   134615.46       147198.87        127716.82  156122.51
36   28663.76       127056.21        201126.82   90708.19
37   44069.95        51283.14        197029.42   89949.14
28   66051.52       182645.56        118148.20  103282.38
43   15505.73       127382.30         35534.17   69758.98

In [13]:
y_train = df_train.pop('Profit')
X_train = df_train

In [14]:
import statsmodels.api as sm

In [15]:
X_train_sm = sm.add_constant(X_train)
lm = sm.OLS(y_train, X_train_sm).fit()
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.963
Model:                            OLS   Adj. R-squared:                  0.960
Method:                 Least Squares   F-statistic:                     271.7
Date:                Sat, 16 Jul 2022   Prob (F-statistic):           2.46e-22
Time:                        16:25:58   Log-Likelihood:                -360.81
No. Observations:                  35   AIC:                             729.6
Df Residuals:                      31   BIC:                             735.8
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            4.709e+04   6963.527      6.762      0.000    3.29e+04    6.13e+04
R&D Spend           0.8285      0.045     18.490      0.000       0.737       0.920
Administration     -0.0158      0.053     -0.296      0.769      -0.125       0.093
Marketing Spend     0.0242      0.016      1.559      0.129      -0.007       0.056
==============================================================================
Omnibus:                        1.027   Durbin-Watson:                   2.521
Prob(Omnibus):                  0.598   Jarque-Bera (JB):                0.818
Skew:                          -0.363   Prob(JB):                        0.664
Kurtosis:                       2.818   Cond. No.                     1.52e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.52e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""